@font-face {
	font-family: "Roboto";
	src: url(../fonts/roboto.woff2) format("woff2"),
		url(../fonts/roboto.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face { 
	font-family: "Roboto";
	src: url(../fonts/roboto500.woff2) format("woff2"),
		url(../fonts/roboto500.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face { 
	font-family: "Roboto";
	src: url(../fonts/robotobold.woff2) format("woff2"),
		url(../fonts/robotobold.woff) format("woff");
	font-weight: bold;
	font-style: normal;
}

@keyframes form-animation {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes form-error {
	0% {
		opacity: 0.5;
	}
	
	100% {
		opacity: 1;
	}
}

body {
	position: relative;
	margin: 0 auto;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: white;
	line-height: 22px;
}

.block {
	width: 100%;
	min-width: 1200px;
}

.inner-page {
	background-color: #849d8f;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.btn {
	color: white;
	text-decoration: none;
	border-radius: 40px;
	background-color: #f26843;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
	background-image: linear-gradient(#f26843, #e74a35);
	-webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
			box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.btn:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
	background-image: linear-gradient(#f26843, #e74a35);
	background-color: rgba(255, 255, 255, 0.2);
	background-blend-mode: overlay;
	-webkit-box-shadow: 0 2px 2px 0 #ac1000;
			box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
	background-image: linear-gradient(#e74a35, #f26843);
	background-color: rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: inset 0 2px 2px 0 #942718;
			box-shadow: inset 0 2px 2px 0 #942718;
}

.visually-hidden {
	margin: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
}

.breadcrumbs ul {
	display: flex;
	margin-top: -22px;
	margin-left: 25px;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	margin-right: 22px;
}

.breadcrumbs li::after {
	content: "»";
	position: absolute;
	right: -15px;
}

.breadcrumbs li:last-child {
	margin-right: 0;
}

.breadcrumbs li:last-child::after {
	content: "";
}

.breadcrumbs a,
.breadcrumbs .active:hover,
.breadcrumbs .active:active {
	font-size: 14px;
	line-height: 16px;
	color: white;
	-webkit-text-decoration-color: #adbdb4;
			text-decoration-color: #adbdb4;
}

.breadcrumbs a:hover {
	color: #ffbc9e;
	-webkit-text-decoration-color: #ffbc9e;
			text-decoration-color: #ffbc9e;
}

.breadcrumbs a:active {
	color: #ffbc9e;
	-webkit-text-decoration-color: #ffbc9e;
			text-decoration-color: #ffbc9e;
}

.breadcrumbs .quotes {
	margin-left: 6px;
	margin-right: 6px;
}

/*Заголовки*/
.header-one {
	margin-top: 0;
	margin-bottom: 26px;
	margin-left: 25px;
	font-size: 35px;
	font-weight: bold;
	line-height: 41px;
}

.header-two {
	margin: 0;
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}

/*Хедер*/
.main-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.menu {
	display: flex;
}

.menu .logo {
	margin-left: 27px;
	margin-top: 10px;
}

.main-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	padding-left: 12px;
	margin-top: 9px;
}

.main-menu li {
	position: relative;
	list-style: none;
}

.menu-right li {
	display: inline-block;
	margin-right: 7px;
}

.menu-right li:last-child {
	margin-right: 0;
}

.main-menu .menu-item {
	position: relative;
	z-index: 100;
	display: block;
	vertical-align: top;
	margin-top: 15px;
	margin-right: 2px;
	padding: 6px 13px;
	color: white;
	line-height: 18px;
	text-decoration: underline;
	-webkit-text-decoration-color: #adbdb4;
			text-decoration-color: #adbdb4;
	border-radius: 20px;
}

.main-menu .menu-item:hover {
	text-decoration: none;
	color: black;
	background-color: white;
}

.main-menu .menu-item:active {
	box-shadow: inset 0 2px 1px 0 #696969;
}

.main-menu .menu-item.active {
	text-decoration: none;
	color: white;
	background-color: #d07058;
}

.sub-menu {
	position: absolute;
	z-index: 100;
	width: 123px;
	display: none;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
	color: #000000;
	list-style: none;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.sub-menu li {
	display: block;
	width: 123px;
	background-color: white;
}

.sub-menu li:last-of-type {
	width: 143px;
	background-color: white;
	padding-bottom: 5px;
	border-radius: 0 0 5px 5px;
}

.sub-menu .new-items {
	position: relative;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
}

.sub-menu .new-items::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 37px;
	left: 6px;
	margin: 0;
	width: 128px;
	height: 1px;
	border: 0;
	background-color: #d1d0ce;
}

.sub-menu a {
	display: block;
	width: 123px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #323232;
	background-color: white;
}

.sub-menu a:hover {
	background-color: #fbded7;
}

.sub-menu a:active {
	background-color: #f6b5a5;
}

.sub-menu .active,
.sub-menu .active:hover,
.sub-menu .active:active {
	color: white;
	background-color: #d07058;
}

.main-menu > li:hover .sub-menu {
	display: block;
}

.menu-right {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 0;
	margin: 0;
	padding-top: 0;
	margin-top: 22px;
	margin-right: 27px;
}

.menu-right .wrapper {
	display: flex;
	margin-bottom: 18px;
}

.menu-right .menu-right-item {
	position: relative;
	z-index: 100;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	margin-right: 11px;
	font-size: 14px;
	line-height: 16px;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	text-decoration: none;
}

.menu-right .menu-right-item:last-child {
	margin-right: 0;
}

.menu-right .time-working {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-align: right;
}

.menu-right .phone-number {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 22px;
	line-height: 24px;
	text-align: right;
}

.search-item {
	position: relative;
}

.search {
	width: 33px;
	height: 0;
	padding-top: 33px;
	overflow: hidden;
	background-image: url(../img/loupe-1.png);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}

.search:hover {
	background-color: white;
	background-image: url(../img/loupe-2.png);
	background-repeat: no-repeat;
	background-position: center;
}

.wrapper > .search-item:hover .search-wrapper {
	display: block;
}

.search-wrapper {
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 100;
	display: none;
	padding-top: 10px;
}

.search-field {
	padding: 20px 15px;
	width: 311px;
	min-height: 54px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-field input {
	width: 311px;
	min-height: 54px;
	padding: 0 15px;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	box-sizing: border-box;
}

.enter-list {
	position: relative;
}

.enter-wrapper {
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 100;
	padding-top: 10px;
	display: none;
}

.enter-field {
	padding: 20px;
	width: 257px;
	min-height: 174px;
	font-size: 13px;
	line-height: 24px;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.enter-field input[type="email"],
.enter-field input[type="password"] {
	width: 257px;
	min-height: 44px;
	margin-bottom: 20px;
	padding: 0 15px;
	font-size: 14px;
	line-height: 24px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	box-sizing: border-box;
}

.enter-field input[type="submit"] {
	padding: 15px 30px;
	border: 0;
	border-radius: 25px;
	font-size: 18px;
	line-height: 24px;
	cursor: pointer;
}

.help-links {
	width: 120px;
	margin-left: auto;
	margin-top: -50px;
}

.help-links a {
	color: #323232;
}

.help-links a:hover {
	color: #e84d37;
}

.wrapper > .enter-list:hover .enter-wrapper {
	display: block;
}

.enter {
	position: relative;
	padding-left: 43px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 20px;
}

.enter::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 15px;
	width: 21px;
	height: 19px;
	background-image: url(../img/enter.png);
	background-repeat: no-repeat;
}

.enter:hover {
	color: #323232;
	background-color: white;
}

.enter:hover::before {
	background-image: url(../img/enter-copy.png);
	background-repeat: no-repeat;
}

.basket {
	width: 71px;
	position: relative;
	padding-left: 46px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 20px;
}

.basket::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 15px;
	width: 21px;
	height: 19px;
	background-image: url(../img/basket.png);
	background-repeat: no-repeat;
}

.basket-wrapper {
	position: absolute;
	top: 40px;
	right: 0;
	z-index: 100;
	padding-top: 5px;
	display: none;
}

.wrapper > .basket-list:hover .basket-wrapper {
	display: block;
}

.basket-field {
	padding: 20px;
	width: 500px;
	min-height: 202px;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.basket-item {
	position: relative;
	padding-left: 20px;
	padding-right: 0;
	margin-bottom: 20px;
	margin-right: 0;
	display: flex;
	align-items: center;
	font-size: 13px;
	line-height: 16px;
}

.basket-item .description {
	margin-left: 13px;
	width: 216px;
}

.basket-item .weight-and-price {
	margin-left: 32px;
}

.weight-and-price .price {
	color: #999999;
}

.basket-item .cost {
	margin-left: 30px;
}

.cross {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 10px;
	left: 0;
	cursor: pointer;
}

.cross:before, .cross:after {
	position: absolute;
	content: "";
	left: 0;
	height: 11px;
	width: 1px;
	background-color: #000000;
}

.cross:before {
	transform: rotate(45deg);
}

.cross:after {
	transform: rotate(-45deg);
}

.basket-field .inline-right {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 36px;
}

.basket-field .inline-right::before {
	content: "";
	position: absolute;
	top: -17px;
	right: 0;
	width: 500px;
	height: 1px;
	color: #a9bbb1;
	background-color: #a9bbb1;
	border: 0px none;
}

.inline-right .basket-price {
	margin-bottom: 15px;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
}

.inline-right .basket-send {
	padding: 10px 15px;
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	border: 0;
	cursor: pointer;
}

.menu-right .full-basket {
	width: 71px;
	margin: 0;
	position: relative;
	padding-left: 46px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 20px;
	color: black;
	background-color: white;
}

.menu-right .full-basket::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 15px;
	width: 21px;
	height: 19px;
	background-image: url(../img/basket-active.png);
	background-repeat: no-repeat;
}

.time-and-phone {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.phone-number {
	color: white;
	text-decoration: none;
}

/*Главная страница*/
.main-page {
	position: relative;
}

.promo .ice-cream {
	position: absolute;
	z-index: 50;
	top: -391px;
	left: 78px;
	display: none;
	width: 1045px;
	margin: 0 auto;
}

.promo .promo-text {
	position: relative;
	z-index: 100;
	width: 700px;
	margin-top: 272px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	font-size: 60px;
	line-height: 60.35px;
	text-align: center;
}

.promo .want-both {
	position: relative;
	z-index: 100;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 40px;
	margin-left: 464px;
	padding: 11px 40px;
	font-size: 32px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 44px;
}

input[name="toggle"] {
	display: none;
}

.slider-slides {
	margin-left: auto;
	margin-right: auto;
}

.slider-controls {
	position: absolute;
	top: 172px;
}

.slider-controls label {
	position: absolute;
	width: 18px;
	z-index: 100;
	height: 18px;
	border-radius: 50%;
	border: 2px solid white;
	cursor: pointer;
	transition: background-color 0.5s;
}

.slider-1 {
	left: 29px;
}

.slider-2 {
	left: 57px;
}

.slider-3 {
	left: 86px;
}

#btn-1:checked ~ .block label[for="btn-1"],
#btn-2:checked ~ .block label[for="btn-2"],
#btn-3:checked ~ .block label[for="btn-3"],
.slider-controls label:hover {
	background-color: white;
}

#btn-1:checked ~ .block .img-1,
#btn-2:checked ~ .block .img-2,
#btn-3:checked ~ .block .img-3 {
	display: block;
}

#btn-1:checked ~ .block {
	background-color: #849d8f;
}

#btn-2:checked ~ .block {
	background-color: #8996a6;
}

#btn-3:checked ~ .block {
	background-color: #9d8b84;
}

.free-offer {
	position: relative;
	z-index: 100;
	display: inline-block;
	vertical-align: top;
	width: 520px;
	padding: 15px 20px;
	margin-bottom: 40px;
	border-radius: 20px;
}

.free-offer .offer-text {
	margin-bottom: 45px;
	font-size: 18px;
	width: 519px;
}

.free-offer .wanted {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 24px;
}

.raspberries {
	margin-left: 29px;
	margin-right: 22px;
	margin-top: 0;
	background-color: #932a46;
	background-image: url(../img/raspberries.jpg);
}

.raspberries .wanted {
	margin-left: 355px;
	padding: 10px 20px;
}

.chocolates {
	background-color: #5e170f;
	background-image: url(../img/chocolates.jpg);
}

.chocolates .wanted {
	margin-left: 332px;
	padding: 10px 20px;
}

.products {
	margin-left: 28px;
	padding: 0;
}

.product-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 267px;
	margin-right: 22px;
}

.product-item:last-child {
	margin-right: 0;
}

.product-item img {
	border-radius: 50%;
}

.product-item .hit {
	position: absolute;
	z-index: 250;
	top: 0;
	left: 0;
}

.product-item .price {
	position: absolute;
	top: 208px;
	left: 0;
	font-size: 45px;
	line-height: 45px;
}

.price .rouble {
	position: relative;
	margin-left: 4px;
	font-weight: 700;
}

.price .rouble::before {
	content: "";
	position: absolute;
	top: 38px;
	left: 0;
	width: 27px;
	height: 5px;
	background-color: white;
}

.price .smaller-word {
	margin-left: 4px;
	font-size: 30px;
}

.product-item .product-item-text {
	display: block;
	margin-top: 5px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	text-decoration: underline;
	-webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
			text-decoration-color: rgba(255, 255, 255, 0.2);
}

.product-item .product-item-text:hover {
	color: #ffbc9e;
	-webkit-text-decoration-color: #ffbc9e;
			text-decoration-color: #ffbc9e;
}

.product-item .product-item-text:active {
	color: #ffbc9e;
	-webkit-text-decoration-color: #ffbc9e;
			text-decoration-color: #ffbc9e;
}

.features {
	width: 1126px;
	margin-top: 40px;
	margin-left: 26px;
	padding-top: 12px;
	padding-left: 20px;
	padding-bottom: 18px;
	padding-right: 0;
	color: #000000;
	background-image: url(../img/wafer-pattern.jpg);
	border-radius: 20px;
}

.features .feature-promo {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 30px;
}

.features .features-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	margin-top: 0;
}

.features-items .inline-left,
.features-items .inline-right {
	width: 541px;
	padding-top: 0;
}

.features-items .inline-left {
	margin-right: 26px;
}

.features-items .ice-cream-icon,
.features-items .leaf-icon,
.features-items .cow-icon,
.features-items .thermometer-icon {
	position: relative;
	padding-left: 57px;
	padding-top: 15px;
	margin-bottom: 5px;
	margin-top: 0;
}

.features-items .ice-cream-icon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 49px;
	height: 49px;
	background-image: url(../img/ice-cream-icon.png);
}

.features-items .leaf-icon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 49px;
	height: 49px;
	background-image: url(../img/leaf-icon.png);
}

.features-items .cow-icon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 49px;
	height: 49px;
	background-image: url(../img/cow-icon.png);
}

.features-items .thermometer-icon::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 49px;
	height: 49px;
	background-image: url(../img/thermometer-icon.png);
}

.blog-and-subscription {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 40px;
	margin-left: 26px;
}

.blog,
.subscription {
	min-height: 208px;
	border-radius: 20px;
}

.blog {
	width: 520px;
	margin-right: 26px;
	padding: 0 20px;
	background-image: url(../img/strawberry-bg.jpg);
	background-repeat: no-repeat;
	background-position: left -50px bottom -346px;
	color: #000000;
}

.blog .blog-header {
	margin-top: 23px;
	margin-bottom: 4px;
	font-size: inherit;
	line-height: inherit;
	font-weight: 500;
}

.blog .blog-item {
	display: inline-block;
	width: 300px;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
}

.blog .blog-item:hover {
	text-decoration: none;
}

.subscription {
	width: 550px;
	padding: 6px;
	color: #5a5a5a;
	background-image: repeating-linear-gradient(135deg, #92cdff 7px, #92cdff 14px, #ffffff 14px, #ffffff 21px, #fe9e90 21px, #fe9e90 28px, #ffffff 28px, #ffffff 35px);
}

.subscription .white-bg {
	min-height: 178px;
	padding-top: 29px;
	padding-left: 21px;
	background-color: white;
	border-radius: 15px;
}

.white-bg .subscribe-text {
	width: 510px;
	margin-top: 0;
	margin-bottom: 34px;
}

.white-bg input[type="text"] {
	padding-left: 14px;
	width: 354px;
	min-height: 40px;
	margin-top: 0;
	font-size: inherit;
	line-height: inherit;
	border: 1px solid rgba(178, 178, 178, 0.52);
	border-radius: 5px;
}

.white-bg .send {
	margin-left: 7px;
	padding: 12px 20px;
	border: 0;
	font-size: 18px;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 22px;
	cursor: pointer;
}

.map {
	position: relative;
	width: 100%;
	height: 430px;
	margin-top: 40px;
	background-image: url(../img/map.png);
	background-position: center;
}

.map .map-picture {
	border-width: 0;
}

.feedback {
	position: absolute;
	top: 62px;
	right: 27px;
	width: 278px;
	padding-bottom: 30px;
	padding-top: 28px;
	padding-left: 25px;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	background-color: white;
	border-radius: 10px;
}

.feedback .bigger-text {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}

.feedback .feedback-contacts {
	margin-bottom: 20px;
	margin-top: 0;
	width: 250px;
}

.feedback .feedback-send {
	padding: 12px 30px;
	margin-top: 5px;
	font-size: 18px;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;
	border: 0;
	cursor: pointer;
}

.feedback-form {
	position: fixed;
	top: 13vh;
	left: 50%;
	margin-left: calc(-437px/2);
	z-index: 200;
	display: none;
	padding: 20px;
	width: 437px;
	background-color: #f8f7f4;
	border-radius: 10px;
}

.feedback-show {
	display: block;
	animation-name: form-animation;
	animation-duration: 1s;
}

.feedback-error {
	animation-name: form-error;
	animation-duration: 1s;
}

.feedback-form .feedback-cross {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 16px;
	right: 17px;
	cursor: pointer;
}

.feedback-cross:before, 
.feedback-cross:after {
	position: absolute;
	content: "";
	height: 17px;
	width: 1px;
	background-color: #000000;
}

.feedback-cross:before {
	transform: rotate(45deg);
}

.feedback-cross:after {
	transform: rotate(-45deg);
}

.feedback-form .feedback-header {
	margin-top: 0;
	margin-bottom: 22px;
	font-size: 24px;
	line-height: 28px;
	color: #323232;
}

.feedback-form .answer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.feedback-wrapper {
	position: relative;
}

.answer .feedback-item {
	margin-bottom: 20px;;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
}

.answer .feedback-name,
.answer .feedback-email {
	padding-left: 15px;
	min-width: 252px;
	min-height: 44px;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #999999;
}

.answer .feedback-text {
	padding-top: 15px;
	padding-left: 15px;
	min-width: 413px;
	min-height: 140px;
	font-family: inherit;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #999999;
}

.answer .answer-label {
	position: absolute;
	top: 15px;
	left: 15px;
	font-weight: normal;
	color: #999999;
	pointer-events: none;
	transition: all 0.4s ease-in-out;
}

.feedback-item:hover {
	border: 2px solid #9a9a9a;
}

.feedback-item:focus {
	border: 2px solid #2e88e4;
}

.feedback-name:focus,
.feedback-email:focus,
.feedback-name:focus:hover,
.feedback-email:focus:hover {
	min-height: 42px;
}

.feedback-text:focus,
.feedback-text:focus:hover {
	min-height: 138px;
}

.feedback-item:focus ~ .answer-label {
	top: -15px;
	font-weight: normal;
	font-size: 11px;
	line-height: 13px;
	color: #5b9ddf;
}

.answer .send {
	padding: 12px 20px;
	margin-top: 5px;
	margin-left: auto;
	font-size: 18px;
	line-height: 24px;
	border: 0;
	cursor: pointer;
}

/*Каталог*/
.form {
	margin-left: 28px;
	font-size: 14px;
	line-height: 16px;
}

.form-filter {
	display: flex;
	flex-direction: column;
}

.wrapper-1,
.wrapper-2 {
	display: flex;
}

.wrapper-1 fieldset,
.wrapper-2 fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.wrapper-1 {
	margin-bottom: 13px;
}

.form-filter .send {
	align-self: flex-end;
	padding: 4px 28px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: white;
	background-color: #a6b7ae;
	border: 2px solid white;
	border-radius: 25px;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;
}

.form-filter .send:hover {
	color: black;
	background-color: white;
}

.form-filter .send:active {
	padding: 6px 30px;
	border: 0;
	color: black;
	background-color: #eaeaea;
	box-shadow: inset 0 2px 1px 0 #696969;
}

.wrapper-1 .sorting-group {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 193px;
	margin-right: 16px;
}

.sorting-group legend,
.price-group legend,
.fat legend,
.fillers legend {
	margin-left: 15px;
	font-weight: bold;
}

.sorting-group select {
	padding: 10px 15px;
	margin-top: 7px;
	width: 193px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: white;
	background-color: #aabab0;
	background-image: url(../img/arrow-down.png);
	background-repeat: no-repeat;
	background-position: 168px 15px;
	border-radius: 25px;
	border: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; 
}

select::-ms-expand {
	display: none;
	background-image: url(../img/arrow-down.png);
	background-repeat: no-repeat;
	background-position: 158px 18px;
}

.sorting-group select:hover {
	background-color: white;
	background-image: url(../img/arrow-down-black.png);
	background-repeat: no-repeat;
	background-position: 168px 15px;
	color: black;
}

.wrapper-1 .price-group {
	margin-right: 16px;
	width: 218px;
}

.range-controls {
	position: relative;
	margin-top: 7px;
	padding: 18px 20px;
	background-color: #aabab0;
	border-radius: 25px;
}

.range-controls .bar {
	position: absolute;
	top: 0px;
	left: 22px;
	height: 4px;
	width: 106px;
	background-color: #f8f7f4;
}

.range-controls .scale {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 188px;
	height: 4px;
	background-color: rgba(255, 255, 255, 0.5);
}

.controller {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #f8f7f4;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.controller:hover {
	width: 22px;
	height: 22px;
}

.controller-left {
	top: 7px;
	left: 35px;
}

.controller-left:hover {
	top: 6px;
	left: 34px;
}

.controller-right {
	top: 7px;
	right: 65px;
}

.controller-right:hover {
	top: 6px;
	right: 64px;
}

.grey-bg {
	margin-top: 7px;
	padding: 9px 15px;
	background-color: #aabab0;
	border-radius: 25px;
}

.grey-bg input[type="radio"] {
	display: none;
}

.grey-bg label {
	position: relative;
	padding-left: 30px;
	margin-right: 16px;
	font-size: 16px;
	line-height: 18px;
}

.grey-bg label:last-child {
	margin-right: 0;
}

.radio-btn + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 17px;
	height: 17px;
	border: 1px solid white;
	border-radius: 50%;
}

.radio-btn:hover + label::before {
	content: "";
	position: absolute;
	left: -1px;
	top: -1px;
	border: 2px solid white;
}

.radio-btn:checked + label::before {
	content: "";
	position: absolute;
	left: 2px;
	top: 2px;
	width: 10px;
	height: 10px;
	background-color: white;
	border: 3px solid #aabcb2;
	box-shadow: 0 0 0 2px white;
}

.fillers .fillers-grey {
	margin-top: 7px;
	margin-right: 18px;
	padding: 9px 18px;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	background-color: #a8bab0;
	border-radius: 25px;
}

.fillers-grey label {
	position: relative;
	padding-left: 32px;
	margin-right: 17px;
}

.fillers-grey label:last-child {
	margin-right: 0;
}

.fillers-grey .checkbox-btn {
	display: none;
}

.checkbox-btn + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 17px;
	height: 17px;
	border: 1px solid white;
	border-radius: 4px;
}

.checkbox-btn:hover + label::before {
	content: "";
	width: 16px;
	height: 16px;
	border: 2px solid white;
}

.checkbox-btn:checked + label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background-image: url(../img/checkbox.png);
	border-left: 0;
	border-top: 0;
}

.checkbox-btn:checked:hover + label::before {
	content: "";
	background-image: url(../img/checkbox-hover.png);
}

.checkbox-btn:disabled + label::before {
	content: "";
	opacity: 0.4;
}

.products.catalog-items {
	margin-top: 39px;
	margin-bottom: 43px;
}

.catalog-items .product-item {
	position: relative;
	margin-bottom: 40px;
}

.catalog-items .product-item:nth-child(4n) {
	margin-right: 0;
}

.product-item::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: -6px;
	left: -13px;
	display: none;
	width: 293px;
	min-height: 405px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.quick-view {
	position: absolute;
	left: 36px;
	z-index: 300;
	display: none;
	padding: 12px 0;
}

.quick-view-btn {
	display: none;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	font-family: "Roboto", "Arial", sans-serif;
}

.product-item:hover {
	z-index: 1;
}

.product-item:hover::after {
	display: block;
}

.product-item:hover .quick-view-btn,
.product-item:hover .quick-view {
	display: block;
	z-index: 2;
}

.pages ul {
	display: flex;
	justify-content: flex-end;
	padding-left: 0;
	margin-right: 19px;
	list-style: none;
}

.pages a {
	display: block;
	padding: 1px 8px;
	margin-left: 5px;
	color: white;
	text-decoration: none;
	border-radius: 50%;
}

.pages a:hover {
	background-color: #9db1a5;
}

.pages a:active,
.pages .active:hover,
.pages .active {
	color: #323232;
	background-color: white;
}

.pages .disabled {
	color: #9aaea3;
}

.pages .disabled:active,
.pages .disabled:hover {
	color: #9aaea3;
	background-color: transparent;
}

.pages .prev-page,
.pages .next-page {
	padding: 0 8px 5px 8px;
	font-size: 26px;
}


/*Футер*/
.main-footer {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	min-height: 100px;
	width: 1200px;
}

.page-footer {
	position: relative;
	margin-top: 28px;
}

.page-footer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 27px;
	width: 1150px;
	height: 1px;
	color: #a9bbb1;
	background-color: #a9bbb1;
	border: 0px none;
}

.main-footer .visually-hidden {
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
	margin: 0;
}

.main-footer .footer-social {
	margin-left: 30px;
	margin-top: 22px;
}

.main-footer .social-icon {
	display: inline-block;
	margin-top: 13px;
	margin-right: 10px;
	width: 36px;
	height: 0;
	overflow: hidden;
	padding-top: 36px;
	-webkit-box-shadow: inset 0 0 0 3px #c2cec7;
			box-shadow: inset 0 0 0 3px #c2cec7;
	border-radius: 50%;
	opacity: 0.8;
}

.main-footer .social-icon:hover {
	opacity: 1;
}

.main-footer .social-icon:active {
	-webkit-box-shadow: inset 0 0 0 3px #c2cec7, 
						inset 0 5px 1px 0 #888888;
			box-shadow: inset 0 0 0 3px #c2cec7, 
						inset 0 5px 1px 0 #888888;
}

.main-footer .social-icon:last-child {
	margin-right: 0;
}

.main-footer .twitter {
	background-image: url(../img/tw.png);
	background-repeat: no-repeat;
	background-position: center;
}

.main-footer .instagram {
	background-image: url(../img/inst.png);
	background-repeat: no-repeat;
	background-position: center;
}

.main-footer .facebook {
	background-image: url(../img/fb.png);
	background-repeat: no-repeat;
	background-position: center;
}

.main-footer .vkontakte {
	background-image: url(../img/vk.png);
	background-repeat: no-repeat;
	background-position: center;
}

.main-footer .about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 33px;
	margin-left: 213px;
}

.about a {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 18px;
	color: white;
	-webkit-text-decoration-color: #9db1a5;
			text-decoration-color: #9db1a5;
}

.about a:hover {
	color: #ffbc9e;
	-webkit-text-decoration-color: #ffbc9e;
			text-decoration-color: #ffbc9e;
}

.about a:active {
	color: #ffbc9e;
	-webkit-text-decoration-color: #ffbc9e;
			text-decoration-color: #ffbc9e;
}

.about .inline-left {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	padding-left: 23px;
	margin-right: 32px;
}

.about .inline-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
}

.inline-left .for-providers {
	font-weight: bold;
}

.inline-left .for-providers::before {
	content: "";
	position: absolute;
	left: 0;
	top: 3px;
	width: 15px;
	height: 13px;
	background-image: url(../img/heart.png);
}

.main-footer .footer-copyright {
	margin-left: 230px;
	margin-top: 19px;
	font-size: 12px;
	line-height: 18px;
}

.footer-copyright .copyright-text {
	margin-top: 0;
}

.footer-copyright a {
	color: white;
	-webkit-text-decoration-color: #9db1a5;
			text-decoration-color: #9db1a5;
}

.footer-copyright a:hover {
	color: #ffbc9e;
	-webkit-text-decoration-color: #ffbc9e;
			text-decoration-color: #ffbc9e;
}

.footer-copyright a:active {
	color: #ffbc9e;
	-webkit-text-decoration-color: #ffbc9e;
			text-decoration-color: #ffbc9e;
}