@font-face {
	font-family: "PT Sans";
	src: url(../fonts/ptsans.woff2) format("woff2"),
		url(../fonts/ptsans.woff) format("woff");
	font-weight: normal;
	font-style: normal;
} 

@font-face { 
	font-family: "PT Sans";
	src: url(../fonts/ptsansbold.woff2) format("woff2"),
		url(../fonts/ptsansbold.woff) format("woff");
	font-weight: bold;
	font-style: normal;
}

@-webkit-keyframes form-animation {
	0% {
		-webkit-transform: translateY(-280px);
				transform: translateY(-280px);
		height: 0;

	}
	100% {
		-webkit-transform: translateY(0px);
				transform: translateY(0px);
	}
}

@keyframes form-animation {
	0% {
		-webkit-transform: translateY(-280px);
				transform: translateY(-280px);
		height: 0;

	}
	100% {
		-webkit-transform: translateY(0px);
				transform: translateY(0px);
	}
}

html {
	background-color: #f2f2f2;
}

body {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	line-height: 21px;
	text-transform: uppercase;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
			box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: white;
}

/*Хедер*/
.main-header {
	position: relative;
}

.main-menu {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	padding-top: 14px;
	padding-bottom: 15px;
	font-size: 0;
}

.main-menu .main-menu-item {
	min-width: 100px;
	width: 20%;
}

.main-menu-item:nth-child(1n) {
	text-align: left;
	margin-left: 72px;
}

.main-menu-item:nth-child(2n) {
	text-align: left;
	margin-left: 2px;
}

.main-menu-item:nth-child(3),
.main-menu-item:nth-child(7),
.main-menu-item:nth-child(11) {
	text-align: right;
	margin-left: 90px;
}

.main-menu-item:nth-child(4n) {
	text-align: right;
	margin-right: 4px;
}

.main-menu a {
	line-height: 26px;
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.main-menu a:hover {
	color: #81b3d2;
}

.main-menu a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-menu .active,
.main-menu .active:hover,
.main-menu .active:active {
	color: #766357;
}

.index-logo {
	position: absolute;
	top: 0;
	left: 531px;
	z-index: 100;
}

/*Заголовки*/
.header-one {
	font-size: 21px;
	font-weight: bold;
	color: black;
	line-height: 26px;
}

.header-two {
	font-size: 21px;
	font-weight: bold;
	color: black;
	line-height: 21px;
}

.features .header-two {
	margin-bottom: 23px;
}

.header-two-catalog {
	margin-top: 0;
	margin-bottom: 8px;
}

.header-two-catalog a {
	font-size: 21px;
	font-weight: bold;
	color: black;
	line-height: 26px;
	text-decoration: none;
}

.header-two-catalog a:hover {
	color: #81b3d2;
}

.header-two-catalog a:active {
	color: rgba(0, 0, 0, 0.3);
}

.reason-header {
	width: 620px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px;
	margin-bottom: 33px;
}

.white-header {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 22px;
	font-size: 21px;
}

.white-header-one {
	width: 150px;
}

.white-header-two {
	width: 165px;
}

.less-header {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

/*Главная страница*/
.picture {
	width: 100%;
	min-height: 508px;
	background-color: #b0c4d8;
	background-image: url(../img/shape.png), url(../img/picture.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: 50% 100%, 0 -57px;
}

.welcome-picture {
	margin-top: 76px;
	margin-left: 371px;
}

.reasons {
	padding: 40px 0;
	text-align: center;
	background-color: white;
}

.reason {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}

.reason-one p {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
}

.reason-two p {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
}

.reason-blue {
	width: 400px;
	padding-top: 28px;
	text-align: center;
	font-size: 14px;
	color: white;
	background-color: #81b3d2;
}

.reason-image {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
		-webkit-box-align: center;
			align-items: center;
	width: 800px;
	height: 256px;
	overflow: hidden;
	background-color: #81b3d2;
}

.features {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	min-height: 330px;
}

.features .less-width {
	width: 300px;
	margin: 0 auto;
}

.feature {
	width: 400px;
	text-align: center;
	padding-bottom: 10px;
}

.feature-one::before {
	content: "";
	display: inherit;
	width: 75px;
	height: 72px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 58px;
	margin-bottom: 30px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -1066px -30px;
}

.feature-two::before {
	content: "";
	display: inherit;
	width: 75px;
	height: 72px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 58px;
	margin-bottom: 30px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -30px -30px;
}

.feature-three::before {
	content: "";
	display: inherit;
	width: 75px;
	height: 76px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 54px;
	margin-bottom: 30px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -1276px -30px;
}

.other-reasons {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	min-height: 256px;
	background-color: #eeeeee;
}

.reason-grey {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			flex-direction: column;
	width: 400px;
	padding-top: 27px;
	text-align: center;
}

.reason-grey .less-width {
	width: 275px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
}

.search {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			flex-direction: column;
	-ms-flex-align: center;
		-webkit-box-align: center;
			align-items: center;
}

.search-text {
	z-index: 100;
	padding-top: 55px;
	padding-bottom: 47px;
	padding-left: 85px;
	padding-right: 85px;
	text-align: center;
	line-height: 24px;
	background-color: white;
}

.search-text b {
	font-size: 30px;
	color: black;
}

.search-text p {
	margin-top: 22px;
	margin-bottom: 0;
}

.search-form {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			flex-direction: column;
	-ms-flex-line-pack: center;
		align-content: center;
	width: 568px;
}

.search-form > .form-button {
	z-index: 100;
	min-height: 86px;
	padding: 30px 0;
	border: none;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: white;
	background-color: #766357;
	cursor: pointer;
}

.search-form .form-visible {
	position: absolute;
	z-index: 50;
	top: 86px;
	left: 0;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			flex-direction: column;
	-ms-flex-align: center;
		-webkit-box-align: center;
			align-items: center;
	padding: 55px;
	font-size: 0;
	font-weight: bold;
	line-height: 26px;
	color: black;
	background-color: white;
	-webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
			box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
	-webkit-animation-name: form-animation;
			animation-name: form-animation;
	-webkit-animation-duration: 1.5s;
			animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
}

.search-form .form-hidden {
	display: none;
}

.form-item label {
	font-size: 14px;
}

.adults-and-kids {
	width: 457px;
}

.adults label {
	margin-right: 38px;
	font-size: 14px;
}

.kids label {
	margin-right: 27px;
	font-size: 14px;
}

.form-item {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
		-webkit-box-align: center;
			align-items: center;
	-ms-flex-pack: justify;
		-webkit-box-pack: justify;
			justify-content: space-between;
	width: 457px;
	margin-bottom: 29px;
}

.form-item label {
	min-width: 110px;
}

.form-item input[type="text"] {
	padding-left: 15px;
	width: 346px;
	font-family: inherit;
}

.calendar {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 22px;
	height: 22px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -326px -30px;
	cursor: pointer;
}

.calendar:hover {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -164px -30px;
}

.calendar:active {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position:  -245px -30px;
}

.half-width input[type="text"] {
	padding: 0;
	width: 38px;
	text-align: center;
	font-family: inherit;
}

.half-width button {
	display: inline-block;
	vertical-align: top;
	width: 38px;
	height: 38px;
	font-family: inherit;
	font-size: 26px;
	line-height: 22px;
	background-color: #f2f2f2;
	color: #a9a9a9;
	border: 0;
	cursor: pointer;
}

.half-width button:hover {
	color: black;
}

.half-width button:active {
	color: #81b3d2;
}

.adults-and-kids .adults {
	float: left;
}

.adults-and-kids .kids {
	float: right
}

.search-form input[type="text"] {
	min-height: 38px;
	border: none;
	background-color: #f2f2f2;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

.search-form input[type="text"]:hover {
	background-color: #ebebeb;
}

.search-form input[type="text"]:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

.search-form input[type="submit"] {
	margin-top: 50px;
	width: 458px;
	height: 58px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: white;
	background-color: #81b3d2;
}

.search-form input[type="submit"]:hover {
	background-color: #669ec0;
}

.search-form input[type="submit"]:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.search-form input::-webkit-input-placeholder {
	color: #000000;
	opacity: 1;
}

.search-form input:-ms-input-placeholder {
	color: #000000;
	opacity: 1;
}

.search-form input::placeholder {
	color: #000000;
	opacity: 1;
}

.search-form input:placeholder {
	color: #000000;
	opacity: 1;
}

.map {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
		-webkit-box-align: center;
			align-items: center;
	width: 1200px;
	height: 593px;
	border: 0;
	overflow: hidden;
	background-color: #eeeeee;
	background-image: url(../img/map.jpg);
}

/*Каталог*/
.filter {
	position: relative;
	min-height: 217px;
	color: white;
	background-color: #766357;
	background-image: url(../img/picture-filter.jpg);
	background-position: 0 20%;
}

.filter b {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight: bold;
}

.filter form {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	min-height: 217px;
}

.filter input[type="checkbox"] {
	display: none;
}

.infrastructure label,
.type-of-house label {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}

.infrastructure b,
.type-of-house b {
	margin: 0;
	padding-bottom: 24px;
}

input[type="checkbox"] + label::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	padding-right: 14px;
	padding-bottom: 46px;
	width: 26px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -1201px -31px;
	cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	padding-right: 14px;
	padding-bottom: 46px;
	width: 26px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -1485px -31px;
	cursor: pointer;
}


input[type="checkbox"]:disabled + label::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	padding-right: 14px;
	padding-bottom: 46px;
	width: 26px;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -1571px -31px;
	cursor: pointer;
}

.infrastructure {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			flex-direction: column;
	width: 220px;
	margin-left: 73px;
	margin-top: 25px;
	margin-bottom: 2px;
}

.type-of-house {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			flex-direction: column;
	width: 220px;
	margin-left: 34px;
	margin-top: 25px;
	margin-bottom: 2px;
}

.price {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			flex-direction: column;
	-ms-flex-pack: start;
		-webkit-box-pack: start;
			justify-content: flex-start;
	margin-left: 267px;
	margin-top: 25px;
}

.price input[type="text"] {
	margin-left: 5px;
	max-width: 40px;
	padding: 9px 0;
	font-family: inherit;
	font-weight: normal;
	font-size: inherit;
	line-height: 20px;
	border: 0;
	color: white;
	background-color: rgba(255, 255, 255, 0);
}

.price-value {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
		-webkit-box-align: center;
			align-items: center;
	-ms-flex-pack: center;
		-webkit-box-pack: center;
			justify-content: center;
	margin-bottom: 20px;
	margin-top: 11px;
	margin-left: -3px;
	width: 314px;
	height: 32px;
	text-align: center;
	border: 2px solid white;
	border-radius: 2px;
}

.price-value label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-value::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-bottom: 20px;
	width: 2px;
	height: 22px;
	background-color: white;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}

.price-value .min-price-value {
	margin-right: 40px;
	margin-left: 62px;
}

.price-value .max-price-value {
	margin-right: 40px;
	margin-left: 45px;
}

.range-controls {
	position: relative;
	margin-left: -3px;
}

.range-controls .bar {
	height: 2px;
	width: 80%;
	background-color: white;
}

.range-controls .scale {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .controller {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background-color: #ababab;
	border: 8px solid white;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .controller:hover {
	background-color: #1c4f80;
}

.range-controls .controller-left {
	left: 0;
}

.range-controls .controller-right {
	left: 79%;
}

.filter .show {
	position: absolute;
	bottom: 35px;
	right: 168px;
	-ms-flex-item-align: end;
		align-self: flex-end;
	width: 136px;
	min-height: 34px;
	font-family: inherit;
	text-transform: uppercase;
	color: white;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid white;
	border-radius: 2px;
	cursor: pointer;
}

.filter .show:hover {
	color: black;
	background-color: white;
}

.sorting {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
		-webkit-box-align: center;
			align-items: center;
	padding-top: 30px;
	padding-bottom: 28px;
}

.sorting .found {
	margin-left: 73px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.sorting-header {
	margin-left: 48px;
	font-size: 12px;
	line-height: 18px;
}

.type-of-sorting {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	padding-left: 39px;
}

.sorting-item {
	margin-left: 33px;
	font-size: 12px;
	line-height: 18px;
}

.sorting-item:first-child {
	margin-left: 0;
}

.type-of-sorting .active {
	color: #81b3d2;
	text-decoration: none;
}

.type-of-sorting .inactive {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.type-of-sorting .inactive:hover {
	color: #81b3d2;
}

.type-of-sorting .inactive:active {
	color: black;
	border: none;
}

.up-and-down {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	margin-left: auto;
	margin-right: 73px;
}

.up-and-down .arrow {
	display: inline-block;
	vertical-align: top;
}

.up {
	width: 0;
	height: 0;
	overflow: hidden;
	margin-right: 12px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #cfcfcf;
}

.up:hover {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #000000;
}

.up:active {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #81b3d2;
}

.down {
	width: 0;
	height: 0;
	overflow: hidden;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #81b3d2;
}

.down:hover {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #000000;
}

.down:active {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #81b3d2;
}

.hotels-item {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	padding: 25px 73px 28px 73px;
	border-bottom: 1px solid #e5e5e5;
}

.hotels-item:first-of-type {
	border-top: 1px solid #e5e5e5;
}

.hotels-item img {
	margin-top: 5px;
	margin-right: 30px;
}

.hotels-description {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			flex-direction: column;
	min-height: 90px;
}

.type-and-price {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	margin-bottom: 15px;
}

.type {
	min-width: 116px;
}

.hotels-item-price {
	min-width: 142px;
}

.buttons {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: justify;
		-webkit-box-pack: justify;
			justify-content: space-between;
	width: 258px;
}

.buttons a {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.details a {
	display: inline-block;
	vertical-align: top;
	max-width: 110px;
	padding: 3px 17px;
	background-color: #81b3d2;
}

.details a:hover {
	background-color: #669ec0;
}

.details a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.booking a {
	display: inline-block;
	vertical-align: top;
	max-width: 142px;
	padding: 3px 17px;
	background-color: #766357;
}

.booking a:hover {
	background-color: #604e43;
}

.booking a:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.rating-and-stars {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			flex-direction: column;
	-ms-flex-pack: justify;
		-webkit-box-pack: justify;
			justify-content: space-between;
	margin-left: auto;
}

.rating {
	text-align: center;
	padding: 5px 12px;
	max-width: 110px;
	color: #666666;
	background-color: #f2f2f2;
}

.stars {
	text-align: right;
	margin-left: auto;
	margin-top: 5px;
	height: 18px;
}

.star-item {
	display: inline-block;
	vertical-align: top;
	width: 18px;
	padding-top: 18px;
	overflow: hidden;
	height: 0;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -1407px -31px;
}

/*Футер*/
.main-footer {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
		-webkit-box-align: center;
			align-items: center;
	padding-top: 36px;
	padding-bottom: 40px;
}

.index-footer {
	position: relative;
	margin-top: -120px;
	background-color: rgba(255, 255, 255, 0.9);
}

.footer-item {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
		-webkit-box-align: center;
			align-items: center;
}

.footer-hashtag {
	width: 137px;
	margin-left: 133px;
	margin-right: 256px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}

.footer-social {
	-ms-flex-pack: justify;
		-webkit-box-pack: justify;
			justify-content: space-between;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	min-width: 150px;
	max-width: 300px;
}

.social-btn {
	width: 46px;
	height: 0;
	overflow: hidden;
	padding-top: 48px;
	margin-right: 6px;
	margin-bottom: 6px;
	background-color: #81b3d2;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn-tw {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -1643px -13px;
}

.social-btn-tw:active {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -1720px -13px;
}

.social-btn-fb {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -909px -16px;
}

.social-btn-fb:active {
	background-image: url(../img/spritesheet.png);
	background-position: -979px -16px;
}

.social-btn-yt {
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -1798px -13px;
}

.social-btn-yt:active {
	background-image: url(../img/spritesheet.png);
	background-position: -1878px -13px;
}

.footer-copyright {
	position: relative;
	-ms-flex-pack: justify;
		-webkit-box-pack: justify;
			justify-content: space-between;
	min-width: 195px;
	margin-left: auto;
	margin-right: 103px;
}

.footer-filter {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	width: 113px;
	height: 39px;
}

.copyright-text {
	display: inline-block;
	vertical-align: top;
}

.btn-copyright {
	display: block;
	width: 115px;
	padding-top: 39px; /* Высота изображения */
	overflow: hidden; /* Скрывает область */
	height: 0; /* Скрывает текст */
	background-image: url(../img/spritesheet.png);
	background-position: -407px -30px;
}

.btn-copyright:hover {
	background-image: url(../img/spritesheet.png);
	background-position: -580px -30px;
}

.btn-copyright:active {
	background-image: url(../img/spritesheet.png);
	background-position: -753px -30px;
}